In [45]:
import numpy as np
import pandas as pd

In [46]:
df = pd.DataFrame({
    'x1': [-3, 0],
    'x2': [-2, 0],
    'x3': [-1, 0],
    'x4': [1, 0],
    'x5': [2, 0]
}).transpose()
df

    0  1
x1 -3  0
x2 -2  0
x3 -1  0
x4  1  0
x5  2  0

In [47]:
M1=(1, -1)
M2=(3, 0)

In [110]:
def get_new_klasteriz(data, k1, k2):

    for ind in list(data.index):
        distance_M1 = (data.loc[ind,0] - k1[0])**2 + (data.loc[ind,1] - k1[1])**2
        distance_M2 = (data.loc[ind,0] - k2[0])**2 + (data.loc[ind,1] - k2[1])**2
        data.loc[ind, 'distance_M1'], data.loc[ind, 'distance_M2'] = distance_M1, distance_M2
        if distance_M1>distance_M2:
            data.loc[ind,'to_M1'], data.loc[ind,'to_M2'] = 0, 1
        else:
            data.loc[ind,'to_M1'], data.loc[ind,'to_M2'] = 1, 0
        
    M1 = (data[data['to_M1']==1].iloc[:, 0].sum()/data[data['to_M1']==1].iloc[:, 0].count(), \
        data[data['to_M1']==1].iloc[:, 1].sum()/data[data['to_M1']==1].iloc[:, 1].count())

    M2 = (data[data['to_M2']==1].iloc[:, 0].sum()/data[data['to_M2']==1].iloc[:, 0].count(), \
        data[data['to_M2']==1].iloc[:, 1].sum()/data[data['to_M2']==1].iloc[:, 1].count())

    
    if ((M1==k1) and (M2==k2)):
        return data, M1, M2
        
    else:
        return get_new_klasteriz(data, M1, M2)

print(get_new_klasteriz(df, M1, M2))

(    0  1  distance_M1  distance_M2  to_M1  to_M2
x1 -3  0          1.0        20.25      1      0
x2 -2  0          0.0        12.25      1      0
x3 -1  0          1.0         6.25      1      0
x4  1  0          9.0         0.25      0      1
x5  2  0         16.0         0.25      0      1, (-2.0, 0.0), (1.5, 0.0))