In [164]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestRegressor

from sklearn import metrics

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [2]:
data = pd.read_csv('data/wineQualityReds.csv')
data

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,1595,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,1596,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,1597,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,1598,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,1599,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
data['quality'].describe()

count    1599.000000
mean        5.636023
std         0.807569
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

In [22]:
data['label'] = data['quality'].apply(lambda x:1 if x>=6 else 0)

In [23]:
X = data.drop(['quality','label'], axis = 1)
y = data.label

X.shape, y.shape

((1599, 12), (1599,))

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1119, 12), (480, 12), (1119,), (480,))

In [25]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

y_lr_test = lr.predict(X_test)

print('Значение f1 для логистической регрессии {:.3f}'.format(metrics.f1_score(y_test, y_lr_test)))

Значение f1 для логистической регрессии 0.739

c:\Users\Asya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [26]:
dt = DecisionTreeClassifier(random_state=42, max_depth=10)
dt.fit(X_train, y_train)

y_dt_test = dt.predict(X_test)

print('Значение f1 для дерева решений {:.3f}'.format(metrics.f1_score(y_test, y_dt_test)))

Значение f1 для дерева решений 0.760

In [28]:
bag_cl = BaggingClassifier(DecisionTreeClassifier(random_state=42, max_depth=10), n_estimators=1500, random_state=42)

bag_cl.fit(X_train, y_train)

y_bag_test = bag_cl.predict(X_test)

print('Значение f1 для бэггинга {:.3f}'.format(metrics.f1_score(y_test, y_bag_test)))

Значение f1 для бэггинга 0.824

In [30]:
model = BaggingClassifier(base_estimator=DecisionTreeClassifier(max_depth = 10, random_state=42), n_estimators=1500, random_state=42).fit(X_train, y_train)
preds_train = model.predict(X_train)
preds_test = model.predict(X_test)
metrics.f1_score(preds_test, y_test)

0.8239700374531835

In [72]:
boston = pd.read_csv('data/boston.csv', decimal='.')
boston

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,"0,00632",18,"2,31",0,"0,538","6,575","65,2","4,09",1,296,"15,3","4,98",24
1,"0,02731",0,"7,07",0,"0,469","6,421","78,9","4,9671",2,242,"17,8","9,14","21,6"
2,"0,02729",0,"7,07",0,"0,469","7,185","61,1","4,9671",2,242,"17,8","4,03","34,7"
3,"0,03237",0,"2,18",0,"0,458","6,998","45,8","6,0622",3,222,"18,7","2,94","33,4"
4,"0,06905",0,"2,18",0,"0,458","7,147","54,2","6,0622",3,222,"18,7","5,33","36,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,"0,06263",0,"11,93",0,"0,573","6,593","69,1","2,4786",1,273,21,"9,67","22,4"
502,"0,04527",0,"11,93",0,"0,573","6,12","76,7","2,2875",1,273,21,"9,08","20,6"
503,"0,06076",0,"11,93",0,"0,573","6,976",91,"2,1675",1,273,21,"5,64","23,9"
504,"0,10959",0,"11,93",0,"0,573","6,794","89,3","2,3889",1,273,21,"6,48",22
505,"0,04741",0,"11,93",0,"0,573","6,03","80,8","2,505",1,273,21,"7,88","11,9"

In [77]:
columns = list(boston.columns)
col_drop = ['river', 'highways_index', 'tax']
for col_dr in col_drop:
    columns.remove(col_dr)
    
columns

['crim_rate',
 'zn',
 'business',
 'nit_oxiden',
 'rooms',
 'age',
 'dist',
 'pup_per_teaс',
 'lower',
 'target']

In [79]:
for col in columns:
    boston[col] = boston[col].apply(lambda x: x.replace(',','.'))
    boston[col] = boston[col].astype(float)

In [80]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   crim_rate       506 non-null    float64
 1   zn              506 non-null    float64
 2   business        506 non-null    float64
 3   river           506 non-null    int64
 4   nit_oxiden      506 non-null    float64
 5   rooms           506 non-null    float64
 6   age             506 non-null    float64
 7   dist            506 non-null    float64
 8   highways_index  506 non-null    int64
 9   tax             506 non-null    int64
 10  pup_per_teaс    506 non-null    float64
 11  lower           506 non-null    float64
 12  target          506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [81]:
X = boston.drop('target', axis = 1)
y = boston.target

X.shape, y.shape

((506, 12), (506,))

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 13, train_size=0.7)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((354, 12), (152, 12), (354,), (152,))

In [92]:
y_train.median()

21.55

In [84]:
lr = LinearRegression()

lr.fit(X_train, y_train)
y_pred_test = lr.predict(X_test)

round(metrics.mean_absolute_error(y_test, y_pred_test), 2)

3.72

In [86]:
dr = DecisionTreeRegressor(random_state = 13)

dr.fit(X_train, y_train)
y_pred_train = dr.predict(X_train)
y_pred_test = dr.predict(X_test)

print(round(metrics.mean_absolute_error(y_train, y_pred_train), 2))
print(round(metrics.mean_absolute_error(y_test, y_pred_test), 2))

0.0
2.84

In [88]:
rfr1 = RandomForestRegressor(n_estimators=3, random_state = 13)

rfr1.fit(X_train, y_train)
y_pred_train = rfr1.predict(X_train)
y_pred_test = rfr1.predict(X_test)

print(round(metrics.mean_absolute_error(y_train, y_pred_train), 2))
print(round(metrics.mean_absolute_error(y_test, y_pred_test), 2))

1.02
2.93

In [89]:
rfr2 = RandomForestRegressor(n_estimators=10, random_state = 13)

rfr2.fit(X_train, y_train)
y_pred_train = rfr2.predict(X_train)
y_pred_test = rfr2.predict(X_test)

print(round(metrics.mean_absolute_error(y_train, y_pred_train), 2))
print(round(metrics.mean_absolute_error(y_test, y_pred_test), 2))

0.98
2.47

In [90]:
rfr3 = RandomForestRegressor(n_estimators=100, random_state = 13)

rfr3.fit(X_train, y_train)
y_pred_train = rfr3.predict(X_train)
y_pred_test = rfr3.predict(X_test)

print(round(metrics.mean_absolute_error(y_train, y_pred_train), 2))
print(round(metrics.mean_absolute_error(y_test, y_pred_test), 2))

0.87
2.26

In [91]:
rfr4 = RandomForestRegressor(n_estimators=500, random_state = 13)

rfr4.fit(X_train, y_train)
y_pred_train = rfr4.predict(X_train)
y_pred_test = rfr4.predict(X_test)

print(round(metrics.mean_absolute_error(y_train, y_pred_train), 2))
print(round(metrics.mean_absolute_error(y_test, y_pred_test), 2))

0.85
2.24

## Предсказание погоды

In [111]:
df = pd.read_csv('data/weatherAUS.csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [96]:
df.isnull().sum().sum()

343248

In [99]:
(df.isnull().sum()/df.shape[0] * 100).sort_values()

Date              0.000000
Location          0.000000
MaxTemp           0.866905
MinTemp           1.020899
Temp9am           1.214767
WindSpeed9am      1.214767
Humidity9am       1.824557
WindSpeed3pm      2.105046
Rainfall          2.241853
RainToday         2.241853
RainTomorrow      2.245978
Temp3pm           2.481094
WindDir3pm        2.906641
Humidity3pm       3.098446
WindGustSpeed     7.055548
WindGustDir       7.098859
WindDir9am        7.263853
Pressure3pm      10.331363
Pressure9am      10.356799
Cloud9am         38.421559
Cloud3pm         40.807095
Evaporation      43.166506
Sunshine         48.009762
dtype: float64

In [112]:
df.drop(['Cloud3pm', 'Evaporation', 'Sunshine'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   WindGustDir    135134 non-null  object
 6   WindGustSpeed  135197 non-null  float64
 7   WindDir9am     134894 non-null  object
 8   WindDir3pm     141232 non-null  object
 9   WindSpeed9am   143693 non-null  float64
 10  WindSpeed3pm   142398 non-null  float64
 11  Humidity9am    142806 non-null  float64
 12  Humidity3pm    140953 non-null  float64
 13  Pressure9am    130395 non-null  float64
 14  Pressure3pm    130432 non-null  float64
 15  Cloud9am       89572 non-null   float64
 16  Temp9am        143693 non-null  float64
 17  Temp3pm        141851 non-null  float64
 18  RainToday      142199 non-null  object
 19  RainTomorrow   142193 non-null  object
dtypes: float64(13), object(7)
memory usage: 22.2+ MB

In [114]:
df['RainToday'] = df['RainToday'].apply(lambda x: 1 if x=='Yes' else 0)
df['RainTomorrow'] = df['RainTomorrow'].apply(lambda x: 1 if x=='Yes' else 0)

In [117]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date']

0        2008-12-01
1        2008-12-02
2        2008-12-03
3        2008-12-04
4        2008-12-05
            ...
145455   2017-06-21
145456   2017-06-22
145457   2017-06-23
145458   2017-06-24
145459   2017-06-25
Name: Date, Length: 145460, dtype: datetime64[ns]

In [122]:
df['Month'] = df['Date'].dt.month
df.drop('Date', axis=1, inplace=True)

In [131]:
df.groupby('Month')['RainToday'].mean().sort_values()

Month
1     0.184875
10    0.192966
2     0.201612
11    0.206959
12    0.207699
3     0.211885
4     0.212208
5     0.217255
9     0.223368
8     0.247589
6     0.257569
7     0.265198
Name: RainToday, dtype: float64

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        143975 non-null  float64
 2   MaxTemp        144199 non-null  float64
 3   Rainfall       142199 non-null  float64
 4   WindGustDir    135134 non-null  object
 5   WindGustSpeed  135197 non-null  float64
 6   WindDir9am     134894 non-null  object
 7   WindDir3pm     141232 non-null  object
 8   WindSpeed9am   143693 non-null  float64
 9   WindSpeed3pm   142398 non-null  float64
 10  Humidity9am    142806 non-null  float64
 11  Humidity3pm    140953 non-null  float64
 12  Pressure9am    130395 non-null  float64
 13  Pressure3pm    130432 non-null  float64
 14  Cloud9am       89572 non-null   float64
 15  Temp9am        143693 non-null  float64
 16  Temp3pm        141851 non-null  float64
 17  RainToday      145460 non-null  int64
 18  RainTomorrow   145460 non-null  int64
 19  Month          145460 non-null  int64
dtypes: float64(13), int64(3), object(4)
memory usage: 22.2+ MB

In [135]:
categoricals = ['Month','Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']
df_dummies = pd.get_dummies(df, columns=categoricals)
df_dummies

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,...,0,0,0,0,0,0,0,0,1,0
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,...,0,0,0,0,0,0,0,0,0,1
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,...,0,0,0,0,0,0,0,0,0,1
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,...,0,0,0,0,0,0,0,0,0,0
4,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2.8,23.4,0.0,31.0,13.0,11.0,51.0,24.0,1024.6,1020.3,...,0,0,0,0,0,0,0,0,0,0
145456,3.6,25.3,0.0,22.0,13.0,9.0,56.0,21.0,1023.5,1019.1,...,0,0,0,0,0,0,0,0,0,0
145457,5.4,26.9,0.0,37.0,9.0,9.0,53.0,24.0,1021.0,1016.8,...,0,0,0,0,0,0,0,0,1,0
145458,7.8,27.0,0.0,28.0,13.0,7.0,51.0,24.0,1019.4,1016.5,...,0,0,0,0,0,0,0,0,0,0
145459,14.9,NaN,0.0,NaN,17.0,17.0,62.0,36.0,1020.2,1017.9,...,0,0,0,0,0,0,0,0,0,0

In [143]:
df_dummies.dropna(inplace=True)

In [145]:
X = df_dummies.drop('RainTomorrow', axis=1)
y = df_dummies['RainTomorrow']

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=31)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((55150, 123), (23637, 123), (55150,), (23637,))

In [147]:
y_test.mean()

0.22515547658332274

In [153]:
inds = np.random.randint(0, len(X_train), len(X_train))
inh = X_train.iloc[inds,:]
inh

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
79816,16.3,33.9,0.0,39.0,9.0,26.0,70.0,24.0,1016.3,1012.8,...,0,0,0,0,0,0,0,0,0,0
62342,12.3,22.9,0.2,28.0,2.0,20.0,91.0,68.0,1021.0,1018.5,...,0,0,0,0,0,0,0,0,0,0
58345,8.2,14.3,0.4,20.0,6.0,11.0,92.0,76.0,1019.5,1017.7,...,0,0,0,0,0,0,0,0,0,0
133022,6.4,16.8,0.0,52.0,9.0,22.0,77.0,48.0,1021.6,1017.8,...,1,0,0,0,0,0,0,0,0,0
32454,11.3,18.7,8.2,43.0,22.0,24.0,90.0,42.0,1024.9,1020.4,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36362,21.4,35.3,1.2,33.0,15.0,24.0,71.0,37.0,1011.8,1007.8,...,0,0,0,0,0,0,0,0,0,0
9570,14.2,21.1,12.8,28.0,15.0,9.0,91.0,64.0,1021.0,1018.0,...,0,0,0,1,0,0,0,0,0,0
130652,8.6,16.3,0.0,74.0,30.0,35.0,52.0,46.0,1018.1,1014.2,...,0,1,0,0,0,0,0,0,0,0
62998,10.6,31.2,0.0,39.0,7.0,24.0,78.0,48.0,1015.8,1013.1,...,0,0,0,0,1,0,0,0,0,0
33164,7.5,18.8,4.8,46.0,11.0,17.0,90.0,55.0,1011.9,1006.1,...,0,1,0,0,0,0,0,0,0,0

In [154]:
def get_random_ids(data):
    inds = np.random.randint(0, len(data), len(data))
    data = data[inds]
    mean_dt = data.mean()
    return mean_dt

In [161]:
target = X_train['MinTemp'].values #выбираем целевую переменную
#np.random.seed(31)
mean_values = [get_random_ids(target) for i in range(1000)]
np.std(mean_values)

0.027213077831305266

#### Логистическая регрессия

In [163]:
lr = LogisticRegression()

lr.fit(X_train, y_train)

y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

round(metrics.roc_auc_score(y_test, y_pred_test), 2)

c:\Users\Asya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.72

#### GridSearchCV

In [168]:
params = {'max_leaf_nodes': list(range(5, 15)), 'min_samples_split': [2, 3, 4], 'max_depth': [5,7,9,11]}

gsv = GridSearchCV(
    estimator=DecisionTreeClassifier(random_state=42), 
    param_grid = params,
    cv = 3,
    return_train_score = True
    )

gsv.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=42),
             param_grid={'max_depth': [5, 7, 9, 11],
                         'max_leaf_nodes': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                         'min_samples_split': [2, 3, 4]},
             return_train_score=True)

In [169]:
gsv.best_params_

{'max_depth': 5, 'max_leaf_nodes': 12, 'min_samples_split': 2}

In [170]:
dt = DecisionTreeClassifier(random_state=42, max_depth=5, max_leaf_nodes= 12, min_samples_split=2)

dt.fit(X_train, y_train)

y_pred_train = dt.predict(X_train)
y_pred_test = dt.predict(X_test)

round(metrics.roc_auc_score(y_test, y_pred_test), 2)

0.71

#### Случайный лес

In [171]:
rf = RandomForestRegressor(n_estimators=100, random_state=31)

rf.fit(X_train, y_train)

y_pred_train = rf.predict(X_train)
y_pred_test = rf.predict(X_test)

round(metrics.roc_auc_score(y_test, y_pred_test), 2)

0.88

#### GridSearchCV и случайный лес

In [172]:
params = {'max_features': [ 4, 5, 6, 7], 'min_samples_leaf': [3, 5, 7, 9, 11], 'max_depth': [5, 10, 15]}

gsv = GridSearchCV(
    estimator=RandomForestRegressor(n_estimators=100, random_state=31), 
    param_grid = params,
    cv = 3,
    return_train_score = True
    )

gsv.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestRegressor(random_state=31),
             param_grid={'max_depth': [5, 10, 15], 'max_features': [4, 5, 6, 7],
                         'min_samples_leaf': [3, 5, 7, 9, 11]},
             return_train_score=True)

In [173]:
gsv.best_params_

{'max_depth': 15, 'max_features': 7, 'min_samples_leaf': 3}

In [174]:
rf = RandomForestRegressor(n_estimators=100, random_state=31, max_depth = 15, max_features = 7, min_samples_leaf = 3)

rf.fit(X_train, y_train)

y_pred_train = rf.predict(X_train)
y_pred_test = rf.predict(X_test)

round(metrics.roc_auc_score(y_test, y_pred_test), 2)

0.87

#### Найдем важные признаки

In [175]:
features = X_train.columns
feature_import_dict = {}

importance = rf.feature_importances_

for i in range(0,len(importance)):
    feature_import_dict[features[i]] = importance[i]

feature_import = pd.DataFrame.from_dict(list(feature_import_dict.items()))

dfh = sorted(feature_import_dict.items(), key=lambda item: item[1])
dfh.reverse()
dfh

In [193]:
dfh = sorted(feature_import_dict.items(), key=lambda item: item[1])
dfh.reverse()
dfh

[('Humidity3pm', 0.25177986163224736),
 ('Rainfall', 0.08117703983675378),
 ('Cloud9am', 0.06520241429438485),
 ('Pressure3pm', 0.06515226484575842),
 ('Pressure9am', 0.0618673136159514),
 ('Humidity9am', 0.06028864706056582),
 ('WindGustSpeed', 0.05917002144811817),
 ('RainToday', 0.05638353925851964),
 ('Temp3pm', 0.04323622913457913),
 ('MinTemp', 0.03349560095994712),
 ('MaxTemp', 0.03343212333400246),
 ('Temp9am', 0.02623103358947104),
 ('WindSpeed3pm', 0.019318551429771243),
 ('WindSpeed9am', 0.015794887795964125),
 ('WindDir9am_N', 0.0046567119920420535),
 ('WindDir9am_NNE', 0.002992655974546684),
 ('Location_Portland', 0.0029167889021131915),
 ('WindDir3pm_N', 0.002652954979570217),
 ('WindGustDir_N', 0.0026038257538269316),
 ('Location_Cairns', 0.0023031735433231286),
 ('Location_Perth', 0.0022364098826356637),
 ('WindDir3pm_WNW', 0.0019802670305502437),
 ('Location_NorfolkIsland', 0.0019735843015109326),
 ('WindDir3pm_NNW', 0.001960860332260361),
 ('WindGustDir_WNW', 0.0019566549896038116),
 ('Month_1', 0.001937463065772607),
 ('Location_MountGambier', 0.0019252026684067668),
 ('WindDir3pm_NW', 0.0018813945344715388),
 ('Location_Darwin', 0.0018752596206749992),
 ('WindDir3pm_NNE', 0.0018661640745824789),
 ('Location_CoffsHarbour', 0.0018185344805564036),
 ('WindGustDir_W', 0.0018124830640633795),
 ('Location_PerthAirport', 0.001809533766916609),
 ('Location_Woomera', 0.0017073892606824094),
 ('Month_6', 0.0017013770021759625),
 ('Month_8', 0.0016682299339003679),
 ('Month_7', 0.001655608517337795),
 ('WindGustDir_NNE', 0.001615903756650249),
 ('WindDir9am_NNW', 0.0015997649268440187),
 ('WindGustDir_NW', 0.001575843154983099),
 ('Location_Wollongong', 0.001557251076507876),
 ('Month_11', 0.0015516140827593018),
 ('Location_SydneyAirport', 0.0015305503683866232),
 ('WindDir3pm_SW', 0.0015054021345829564),
 ('Location_AliceSprings', 0.0014872401036151324),
 ('Month_5', 0.0014672391868508362),
 ('Month_9', 0.0014325866256900627),
 ('Month_12', 0.0014232179350736833),
 ('WindGustDir_NNW', 0.0013835083394128018),
 ('Month_10', 0.0013706887115338857),
 ('Month_4', 0.0013481706266014973),
 ('WindDir9am_S', 0.0013150820521484574),
 ('Month_3', 0.0012979905281670404),
 ('WindDir9am_W', 0.001287589572858512),
 ('Location_Brisbane', 0.0012838020562542136),
 ('WindGustDir_E', 0.0012773887006557194),
 ('WindDir3pm_S', 0.0012738656742000251),
 ('WindDir3pm_WSW', 0.0012726025997142785),
 ('Location_Mildura', 0.0012584750446287827),
 ('WindDir3pm_W', 0.0012576352732433752),
 ('WindGustDir_SSW', 0.0012377358858280218),
 ('WindGustDir_WSW', 0.0012121039828276669),
 ('WindDir9am_NW', 0.0012098802128173974),
 ('WindDir9am_NE', 0.001198990761999748),
 ('WindDir3pm_SSE', 0.0011912070097580322),
 ('WindDir9am_SSW', 0.001178633482420689),
 ('Location_Ballarat', 0.0011751003330211117),
 ('WindGustDir_S', 0.0011419724256229932),
 ('WindDir9am_WNW', 0.0011195064372506538),
 ('WindDir9am_SSE', 0.0011150922155453687),
 ('WindDir9am_SW', 0.001112792611302753),
 ('Month_2', 0.0011084780437114268),
 ('WindDir3pm_SSW', 0.0011066711888413033),
 ('Location_Canberra', 0.001105691916304917),
 ('Location_MelbourneAirport', 0.0011008616120572125),
 ('WindDir9am_E', 0.0010915042764644152),
 ('WindDir9am_ESE', 0.0010810092228994378),
 ('WindGustDir_SW', 0.0010809841878587783),
 ('WindDir9am_SE', 0.0010801232057624734),
 ('WindDir3pm_NE', 0.001060031660389669),
 ('WindGustDir_ENE', 0.0010559101293076093),
 ('WindDir9am_WSW', 0.0010436015415481903),
 ('Location_Hobart', 0.0010295103893411526),
 ('WindGustDir_NE', 0.0010256072348309656),
 ('Location_Watsonia', 0.0010234360048711195),
 ('WindGustDir_SE', 0.0010108299233621547),
 ('Location_Sale', 0.0009866744247588172),
 ('WindDir3pm_SE', 0.0009597273416727175),
 ('WindDir3pm_ENE', 0.000949577866911172),
 ('Location_Williamtown', 0.0009235568093244762),
 ('WindDir3pm_ESE', 0.0009197028528302043),
 ('WindGustDir_SSE', 0.0008819611587373209),
 ('Location_Nuriootpa', 0.0008716907644480725),
 ('WindGustDir_ESE', 0.0008676207543026906),
 ('WindDir3pm_E', 0.0008668081288344551),
 ('Location_Sydney', 0.0008469859313231143),
 ('Location_PearceRAAF', 0.0008383391175197287),
 ('WindDir9am_ENE', 0.0008314930338788536),
 ('Location_Albury', 0.0007956273690700189),
 ('Location_Townsville', 0.0007467168977759258),
 ('Location_Bendigo', 0.000727958482515719),
 ('Location_Moree', 0.0007212329431099798),
 ('Location_Melbourne', 0.0006698239786946885),
 ('Location_WaggaWagga', 0.0005981413170190467),
 ('Location_Cobar', 0.0005225734328309728),
 ('Location_Richmond', 0.0004081851958731171),
 ('Location_Katherine', 0.00026413730890495696),
 ('Location_Uluru', 0.00010873055479707763),
 ('Location_Witchcliffe', 0.0),
 ('Location_Walpole', 0.0),
 ('Location_Tuggeranong', 0.0),
 ('Location_SalmonGums', 0.0),
 ('Location_Penrith', 0.0),
 ('Location_NorahHead', 0.0),
 ('Location_Nhil', 0.0),
 ('Location_Newcastle', 0.0),
 ('Location_MountGinini', 0.0),
 ('Location_Launceston', 0.0),
 ('Location_GoldCoast', 0.0),
 ('Location_Dartmoor', 0.0),
 ('Location_BadgerysCreek', 0.0),
 ('Location_Albany', 0.0),
 ('Location_Adelaide', 0.0)]

feature_import

In [194]:
feature_names = [x for x in df_dummies if x != 'RainTomorrow']
pd.DataFrame({'feat': feature_names,
              'coef': rf.feature_importances_}).sort_values(by='coef', ascending=False)

                    feat      coef
7            Humidity3pm  0.251780
2               Rainfall  0.081177
10              Cloud9am  0.065202
9            Pressure3pm  0.065152
8            Pressure9am  0.061867
..                   ...       ...
62   Location_SalmonGums  0.000000
26     Location_Adelaide  0.000000
40    Location_GoldCoast  0.000000
49  Location_MountGinini  0.000000
56      Location_Penrith  0.000000

[123 rows x 2 columns]

In [2]:
import numpy as np

In [4]:
np.exp(0.35)*(1/6)

0.2365112580988762

In [6]:
np.exp(0.17)*(1/6)

0.19755080855339424